$card-intentation: 30px;
#checkout .mdl-grid {
  padding-right: 0;
  margin-right: 0;
}
.circled {
  $circle-size: 20px;
  display: inline-flex;
  margin-right: ($card-intentation - $circle-size);
  background-color: black;
  border-radius: 50%;
  color: white;
  width: $circle-size;
  height: $circle-size;
  font-weight: 900;
  text-align: center;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.checkout {
  &-card {
    background-color: inherit;

    &__title {
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 2px;
      margin-bottom: 20px;
      &--summary {
        margin-left: 0px;
      }
    }
    &__content {
      margin-left: $card-intentation;
      width: 100%;
    }
    &__icon {
      color: #484848;
      font-size: inherit;
    }
  }
  &-summary {
    color: black;
    padding: 20px 18px;
    height: min-content;
    outline: 2px dotted #e4e4e4;
    outline-offset: -6px;
    background: white;
    @media (min-width: 840px) {
      margin-top: 92px;
    }
    &__section {
      width: 100%;
      border-bottom: 1px dashed #e4e4e4;
      &:last-child {
        border: none;
        font-weight: 700;
        & .checkout-summary__price {
          font-size: 24px;
        }
      }
    }
    &__item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 15px 0px;
    }
    &__price::before {
      content: "$";
    }
  }
  &-button {
    cursor: pointer;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: #6bd400;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin-left: $card-intentation + 30px;
    margin-right: 18px;
    height: 60px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(92, 178, 4, 1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(92, 178, 4, 1);
    box-shadow: 0px 2px 0px 0px rgba(92, 178, 4, 1);
    & span,
    & i {
      font-size: 16px;
    }
    & span {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
