$append-width: 32px;

.custom-formfield {
  position: relative;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(218, 218, 218, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(218, 218, 218, 1);
  box-shadow: 0px 2px 0px 0px rgba(218, 218, 218, 1);
  padding: 5px;
  font-weight: 700;
  label {
    font-size: 12px;
    color: #555555;
    display: block;
  }
  input,
  select {
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    color: #757575;
  }
  & .input-container {
    width: calc(100% - #{$append-width});
    display: inline-block;
  }
  & .append {
    display: inline-block;
    width: $append-width;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: lightgrey;
  }
}

.custom-formfield--select {
  & .input-container--select {
    width: 100%;
  }
  & .select-container {
    position: relative;
    &::after {
      position: absolute;
      font-family: "Material Icons";
      content: "expand_more";
      cursor: pointer;
      font-size: 26px;
      top: -30%;
      right: -27px;
      padding: 0 1em;
      pointer-events: none;
    }
    &:focus::after {
      content: "expand_less";
    }
  }
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
    color: black;
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }
  }
}
